<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>URL Shortener Microservice</title>
    <meta name="description" content="URL Shortener Microservice">
</head>
<body style="font-family: Helvetica, sans-serif; font-size: 20px">
	<header><h1>URL Shortener Microservice</h1></header>
	<section>
		<h2>User Story</h2>
			<ol>
				<li>I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</li>
				<li>If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</li>
				<li>When I visit that shortened URL, it will redirect me to my original link.</li>
			</ol>
	</section>
	<section>
		<h2>Format example</h2>
		<ul>
			<li><code><a href="https://url-shortener-klm.herokuapp.com/new/https://kennethlumalicay.github.io/portfolio/#">https://url-shortener-klm.herokuapp.com/new/https://kennethlumalicay.github.io/portfolio/#</a></code></li>
			<li><code><a href="https://url-shortener-klm.herokuapp.com/new/https://www.google.com">https://url-shortener-klm.herokuapp.com/new/https://www.google.com</a></code></li>
			<li><code><a href="https://url-shortener-klm.herokuapp.com/new/https://www.facebook.com/nethoinkz">https://url-shortener-klm.herokuapp.com/new/https://www.facebook.com/nethoinkz</a></code></li>
		</ul>
	</section>
	<footer>App made by <a href="https://kennethlumalicay.github.io/portfolio/" style="text-decoration: none">Kenneth Lu Malicay</a></footer>
</body>
</html>